<div class="nav" id="nav">
  <div class="nav-center">
    <!-- nav links -->

    <ul class="nav-links">
      <li class="li"><a routerLink="/mycv">Home</a></li>
      <li class="li"><a routerLink="/list">List</a></li>
      <li class="li"><a routerLink="/test">Test</a></li>
    </ul>

    <div><app-model-copy></app-model-copy></div>
  </div>
</div>

<!-- <nav class="narbar navbar-expand-sm bg-success navbar-dark">
  <a href="#" class="navbar-brand">Angular Mycv</a>

  <div class="collapse navbar-collapse" id="mynav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/mycv" class="nav-link"> MyCv </a>
      </li>
      <li class="nav-item"><a routerLink="/list" class="nav-link"> list</a></li>
    </ul>
  </div>
</nav> -->
