@import '../../scss//variable';

td {
    text-align: center;
}

th {
    text-align: center;
}

.container {
    form {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


tbody {
    tr {
        cursor: pointer;

        &:hover {
            background-color: $clr-grey-6;
        }
    }
}